# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage
dist
node_modules
package-lock.json
reports
test/functional/errorShots
.eslintcache
*.log
wdio.override.js
wdio.bdd.override.js

# VS Code
.vscode
jsconfig.json

# IntelliJ
.idea
*.iml

# Eclipse
.project
.settings

# Mac
.DS_Store

# Allure
allure-report
allure-results

# Ignore anything with .local
*.local

