.profile {
  background: #FFFFFF;
  max-width: 1280px;
  width: 750px;
  margin: auto;
}

.sub-header {
  text-align: center;
  color: #727878;
  font-size: 21px;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 1.4;
}