.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #22a39f;
}

.navbar {
  position: fixed;
  top: 60px;

  right: 5%;
  width: 110px;

  .navbar-item {
    margin: 0;
    padding-left: 0;
    background-color: #222222;

    .active {
      background-color: #22a39f;
    }

    a {
      display: block;
      color: #FFFFFF;
      padding-top: 30px;
    }

    li {
      height: 80px;
      display: block;
    }
  }
}